@import "tailwindcss";

* {
  cursor: url("/cursor1.png"), auto;
}

h1 {
  font-size: 2.25rem;
  font-weight: 900;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

button:hover,
button:hover,
li:hover,
li:hover * {
  cursor: url("/cursor2.png"), auto;
}

button svg {
  pointer-events: none;
}
