@import "tailwindcss";

* {
  cursor: url("/cursor1.png"), auto;
}

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none;
}

body {
  overflow-y: scroll; /* Allows scrolling but hides scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  font-size: 2.8rem;
  font-weight: 900;
}

h2 {
  font-size: 1.7rem;
  font-weight: 700;
}

h3 {
  font-size: 1.3rem;
  font-weight: 650;
}
h4 {
  font-size: 1rem;
  font-weight: 600;
}

body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

button:hover,
button:hover,
li:hover,
li:hover *,
select:hover,
select:hover,
a:hover,
a:hover *,
.group:hover * {
  cursor: url("/cursor2.png"), auto;
}

button svg {
  pointer-events: none;
}
